<!----------------footer area------------------------->
<div class="footer clear">
    <div style="margin: auto">
        <div>
            <p style="
        background-color:darkblue;"">Cities we deliver to</p>
        <div>
          <div class=" footer1">
                <span>Pune</span><br />
                <span>Gurgaon</span><br />
                <span>Indore</span><br />
                <span>Ghaziabad</span><br />
                <span>Bhopal</span><br />
                <span>Pondicherry</span><br />
                <span>Mohali</span><br />
                <span>Zirakpur</span><br />
                <span>Tirupati</span><br />
        </div>
        <div class="footer1">
            <span>Mumbai</span><br />
            <span>New Delhi</span><br />
            <span>Nagpur</span><br />
            <span>Coimbatore</span><br />
            <span>Kolkata</span><br />
            <span>Nashik</span><br />
            <span>Chandigarh</span><br />
            <span>Lucknow</span><br />
            <span>Tiruppur</span><br />
        </div>
        <div class="footer1">
            <span>Bangalore</span><br />
            <span>Hyderabad</span><br />
            <span>Faridabad</span><br />
            <span>Dubai</span><br />
            <span>Surat</span><br />
            <span>Jaipur</span><br />
            <span>Vijaywada</span><br />
            <span>Kochi</span><br />
            <span>Kota</span><br />
        </div>
        <div class="footer1">
            <span>Noida</span><br />
            <span>Chennai</span><br />
            <span>Ahmedabad</span><br />
            <span>Vadodra</span><br />
            <span>Mysore</span><br />
            <span>Panchukla</span><br />
            <span>Vellore</span><br />
            <span>Vizag</span><br />
            <span>Many more...</span><br />
        </div>
    </div>
    <div class="clear">
        <div class="footer2 floatL">
            <p style="
            background-color:darkblue;">Legal</p>
            <span>Terms & Conditions</span><br />
            <span>Privacy Policy</span>
        </div>
        <div class="footer2 floatR">
            <p style="
            background-color:darkblue;"">Contact</p>
          
            <span> crm@faasos.com</span>
          </div>
        </div>
        <hr>
        <div class=" footer3">
            <p style="
          background-color:darkblue;">2020 @ Faasos. All rights reverved</p>
            <div style="display: flex; flex-direction: row"></div>
            <p style="margin-right: 20px;
            background-color:darkblue;">Follow us on</p>

        </div>
    </div>
</div>