 <!-------------------user details bar---------------------->
    <div id="userprofileDetail">
        <div id="navBar">
            <div id="bar1"><a href="/profile">Profile</a></div>
            <div id="bar2"><a href="/order">Orders</a></div>
            <div id="bar2"><a href="/payment">Payments</a></div>
            <div id="bar4"><a href="/address" style="color:darkblue;">Addresses</a></div>
        </div>
    </div>