<!-------------------user details bar---------------------->
<div id="mainhead">
    <div id="logoBox">
        <img class="logo" src="../images/logoicon.svg" />
    </div>
    <div id="theNames">
        <h3 id="theName">shihab</h3>
        <p id="theNumber">9714689861</p>
        <p id="theEmail">shihabshaikh96@gmail.com</p>
    </div>
</div>