 <!-------------------=TOP NAV BAR---------------------->
 <nav>
  <div id="navContainer">
    <div id="navLeft">
      <a href="./Collections.html">
        <img src="../images/top-navbar-logo.svg" alt="faasos logo" />
      </a>
      <div id="navLocation">
        <p>Mumbai</p>
        <p>Mumbai Maharashtra</p>
      </div>
    </div>
    <div id="navRight">
      <div id="userName">
        <li id="login" style="background-color: white;">Thank You For Login</li>
      </div>
      <!-------------------Side NAV BAR---------------------->
      <nav role='navigation'>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="./Profile.html">
              <li><img src="../images/sidebarProfile.svg" id="sidebarImg">Profile</li>
              <a href="./Orders.html">
                <li><img src="../images/sidebarLogout.svg" id="sidebarImg">Manage Orders</li>
              </a>
              <a href="./Address.html">
                <li><img src="../images/sidebarAddress.svg" id="sidebarImg">Manage Address</li>
              </a>
              <a href="./Payments.html">
                <li><img src="../images/sidebarPayment.svg" id="sidebarImg">Manage Payments</li>
              </a>
              <a href="#">
                <li><img src="../images/sidebarHelp.svg" id="sidebarImg">Help & Supports</li>
              </a>
              <a href="#">
                <li><img src="../images/sidebarAbout.svg" id="sidebarImg">Aboust Us</li>
              </a>
              <a href="#">
                <li><img src="../images/sidebarParty.svg" id="sidebarImg">Party Order</li>
              </a>
              <a href="./Collection.html">
                <li><img src="../images/sidebarLogout.svg" id="sidebarImg">Log Out</li>
              </a>
          </ul>
        </div>
      </nav>
    </div>
</nav>