<div id="sider">
    <div class="mySlides">
      <img src="../images/slider1.jpg" style="width:98%;height:250px;margin-left: 15px;">
    </div>
    <div class="mySlides">
      <img src="../images/slide2.jpg" style="width:98%;height: 250px;margin-left: 15px;">
    </div>
    <div class="mySlides">
      <img src="../images/slider3.jpg" style="width:98%;height:250px;margin-left: 15px;">
    </div>
  </div>