<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Order Online from Faasos</title>
    <link rel="shortcut icon"
        href="https://assets.faasos.io/order.faasos.io/production/app/public/images/faviconFaasos.png" />

</head>

<body>
    <div id="container">

        <div id="fasos">
            <img src="https://assets.faasos.io/faasos_v2/faasosLogoBrand.svg" alt="faasos" height="72" width="80"
                style="margin-top:40px">
            <div class=" myfirst">
                <p style="color:#FFEB3B;font-size:20px;font-weight: 600;margin-top: 50px;" id="login">login</p>


                <!-------------------MY code---------------------->
                <div class='popup-overlay'></div>
                <div id="popup" class="popup">
                    <div id="modalss">
                        <div id="div1" style="overflow: hidden;">
                            <h1 style="font-family: 'Mulish', sans-serif;margin-left:5px;">
                                <a href="./index">
                                    < </a>&nbsp;Login
                            </h1>
                            <p id="enter" style="color: grey ;font-size:13px; font-family: 'Roboto', sans-serif;margin-left:5px;
                margin-bottom: 10px;">Enter your phone Number to continue</p>
                            <img id='im'
                                src="https://mir-s3-cdn-cf.behance.net/projects/404/3c673a111780509.Y3JvcCw5OTksNzgyLDAsMA.jpg">
                        </div>
                        <div id="mid">
                            <div id="div2">
                                <form action="/login" method="POST">
                                    <select id="select" value="select">
                                        <option value="">India</option>
                                        <option value="">USA</option>
                                        <option value="">Canada</option>
                                        <option value="">UK</option>
                                        <option value="">Germany</option>
                                        <option value="">Italy</option>
                                        <option value="">China</option>
                                        <option value="">Japan</option>
                                        <option value="">France</option>
                                        <option value="">Australia</option>
                                        <option value="">Austria</option>
                                        <option value="">Pakistan</option>
                                        <option value="">srilanka</option>
                                    </select>

                                    <input id="num" type="Number" placeholder="Phone Number required" required name="Phone"
                                        style="font-size: 20px;"><br><br>
                                    <button id="btn" type="submit">CONTINUE</button>
                                </form>
                            </div>
                            <div id="last">
                                <p style="font-family: 'Roboto', sans-serif;color: grey">Dont have an account?</p>
                                <a id="signup" href="/signup" style="text-decoration: none">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="but"><a href="/signup">Sign up</a></button>
                <div class="float-r clear">

                </div>
            </div>
        </div>
        <div>
            <h1 style="color:white;font-size: 40px;"><b>Surprises under wraps</b></h1>
            <input type="text" id="locationbox" placeholder="Enter Your Delivery Location">
            <button id="locationbtn">FIND FOOD</button>
        </div>
    </div>

    <div class="pop">
        <h1 style="margin-left:250px;">Eat Good, Eat Safe. Always! Now with the EatSure promise.</h1>
        <p style="margin-left:400px;">To keep your food safe and hygienic, here are some proactive steps that we have
            been
            taking. </p>
    </div>
    <div class="grid">
        <div class="item1">
        </div>
        <div class="item2">
            <p><b>Real-time Temperature</b> Tracking of the kitchen and<br /> delivery staff</p>
        </div>
        <div class="item3"><iframe width="400" height="223" src="https://www.youtube.com/embed/SBGKA87fmCM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
        <div class="item1">
        </div>
        <div class="item2">
            <p><b>Contactless Delivery</b></p>
        </div>
        <div class="item2"></div>
        <div class="item1">
        </div>
        <div class="item2">
            <p><b>Regular health</b> check-ups for all the staff members</p>
        </div>
    </div>
    <div id="eat">
        <div class="it1"><img src="https://assets.faasos.io/faasos_v2/esSafetyLogo.svg" alt="eatsure_safety" /></div>
        <div class="it2"></div>
        <div class="it3">

            <span>✔</span>
            <p style="text-align: center;">Medically<br />Certified Staff</p>

        </div>
        <div class="it2"></div>
        <div class="it3">
            <span>✔</span>
            <p style="text-align: center;">200+ Stringent<br />Quality Checks</p>
        </div>
        <div class="it2"></div>
        <div class="it3">
            <span>✔</span>
            <p style="text-align: center;">No Artificial Colours or<br /> Flavours</p>
        </div>
        <div class="it2"></div>
        <div class="it3">
            <span>✔</span>
            <p style="text-align: center;">Double Sealed<br /> Packaging</p>
        </div>
        <div class="it4"><button
                style="width:140px;height:40px;width:90px;border-radius:5px;border:1px solid white;color:rgb(86, 64, 153);padding:10px;">Know
                more</button></div>

    </div>

    <div id="containers2">

    </div>

     <div id="foodie">
        <p class="tap " style="text-align:center;">Here are some additional measures which our kitchen teams are
            rigorously
            following!</p>
        <div class="gm">
            <div class="cont"><img src="https://assets.faasos.io/faasos_v2/mask1.svg" alt="eatsure_mask"
                    class="Eatsure__IconFeture-c5fhoi-12 cdURnS"></div>
            <div class="cont"><img src="https://assets.faasos.io/faasos_v2/staff2.svg" alt="eatsure_healthy_staff"
                    class="Eatsure__IconFeture-c5fhoi-12 cdURnS"></div>
            <div class="cont"><img src="https://assets.faasos.io/faasos_v2/safety3.svg" alt="eatsure_safety"
                    class="Eatsure__IconFeture-c5fhoi-12 cdURnS"></div>
            <div class="cont"><img src="https://assets.faasos.io/faasos_v2/kitchenSurface4.svg"
                    alt="eatsure_kitchen_surface_clean" class="Eatsure__IconFeture-c5fhoi-12 cdURnS"></div>
            <div class="cont"><img src="https://assets.faasos.io/faasos_v2/delivery_5.png" alt="eatsure_delivery"
                    style="height:40px"></div>
            <div>
                <p>Using masks all the time </p>
            </div>
            <div>
                <p>Maintaining a log of kitchen staff’s body temperature.</p>
            </div>
            <div>
                <p>Using handwash frequently to clean hands.</p>
            </div>
            <div>
                <p>Sanitising all the kitchen surfaces, every 4 hours.</p>
            </div>
            <div>
                <p>Delivering food in an enclosed sealed package to avoid contamination.</p>
            </div>
        </div>
    </div>
    <%- include ("partials/footer.partials.ejs") %>
</body>

</html>
<script src="scripts/index.js"></script>