<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bar.css">
    <link rel="stylesheet" href="css/userSection.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <!-------------------Top Bar---------------------->
    <%- include ("partials/navbar.partials.ejs") %>
    <!-------------------login section details---------------------->
    <%- include ("partials/loginSection.partials.ejs") %>
    <!-------------------Link section details bar---------------------->
    <%- include ("partials/link.partials.ejs") %>
     <!-------------------Footer Area---------------------->
    <%- include ("partials/footer.partials.ejs") %>
</body>
</html>