* {
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 246);
    overflow-x: hidden;
  }
  nav {
    background-color:white;
    width: 100%;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 8px 0px;
  }
  
  
  #navContainer {
    width: 90%;
    height: 30px;
    margin: 0px auto;
    padding: 1.6rem 0.5rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color:white;
    overflow-y: hidden;
    grid-area: top-bar;
  }
  
  #navLeft > a > img {
    width: 68px;
    height: 40px;
    background-color:white;
  }
  
  #navLeft,
  #navRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
      background-color:white;
  }
  
  #navLeft > * {
    margin-right: 20px;
    background-color:white;
  
  }
  #navRight > * {
    background-color:white;
    width: 30px;
  }
  #navLocation > p:nth-child(1) {
    font-size: 17px;
    background-color:white;
    font-weight: 550;
    color: rgb(51, 51, 51);
    margin-right: 0.5rem;
    font-family: Muli, sans-serif;
  }
  
  #navLocation > p:nth-child(2) {
    font-size: 13px;
    background-color:white;
    font-family: Muli, sans-serif;
    color: rgb(126, 126, 126);
    padding-top: 3px;
  }
  #userName{
    cursor: pointer;
    font-size: 17px;
    color: rgb(86, 64, 153);
    font-weight: 530;
    text-transform: capitalize;
    line-height: 1.25;
    margin-right: 5px;
    width: 200px;
  }
  
  
  #menuToggle {
  display: block;
  position: static;
  top: 10px;
  right: 50px;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
  }
  
  #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 30px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  }
  
  #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: blue;
  z-index: 1;
  transform-origin: 4px 0px;
  }
  
  #slider{
    grid-area: slider;
  }
  #menu {
  position: absolute;
  width: 370px;
  margin: -100px 0 0 0;
    padding:125px 70px 0px 30px;
  height: 100%;
  right: -100px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
   transition-duration: 0.4s;
  
  }
  
  #menu li {
  font-size: 21px;
    font-family: Muli, sans-serif;
    padding: 20px;
    padding-left: 10px;
    background: white;
    cursor: pointer;
    align-items: center;
    color: rgb(126, 126, 126) !important;
  }
  a {
  text-decoration: none !important;
  
  }
  
  
  #menu li:hover{
    background-color: rgb(247, 243, 238);
  }
  
  #menuToggle input:checked~ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
  }
  
#sidebarImg{
  height: 23px;
  width: 23px;
  margin-right: 10px;
  background-color: white;
}


/* footer css*/
.footer {
  background-color:darkblue;
  padding: 50px 150px;
  grid-area: footer;
  margin-top: 15px;
}
.footer1 {
  float: left;
  width: 21%;
  padding: 1% 2%;
  background-color:darkblue;
}

.footer1>span{
  background-color:darkblue;
}

.footer2 {
  width: 100%;
  padding: 2%;
  
  background-color:darkblue;
}

.footer2>span{
  
  background-color:darkblue;
}
.footer3 {
  display: flex;
  justify-content: space-between;

  background-color:darkblue;
}
.footer3 img {
  margin: 0px 6px;
  cursor: pointer;
}
.footer1 > span,
p ~ span {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer p {
  font-size: 20px;
  color: rgb(196, 196, 196);
}
p ~ span {
  cursor: pointer;
}
p > span {
  font-weight: 900;
  font-size: 17px;
}

